@layout("/common/_content1.html"){
<div class="content-w">
    <div class="creditDetail">
        <div class="company-messages-box">
            <h1>${creditinfo.qiyename}<span>${creditinfo.jingyingstatus}</span></h1>
            <p>统一社会信用代码：${creditinfo.xingyongcode</p>

        </div>
    </div>
    <div class="company-showmessage-box">
        <div class="mt"><span>基础信息</span></div>
        <div class="fixed-table-container">
            <div class="resultTab1">
                <table>
                    <tr>
                        <td width="20%" class="graybg">法定代表人</td>
                        <td width="30%" >${creditinfo.faren}</td>
                        <td width="20%" class="graybg">企业类型</td>
                        <td width="30%" >${creditinfo.qiyetype}</td>
                    </tr>
                    <tr>
                        <td width="20%" class="graybg">成立日期</td>
                        <td width="30%">${creditinfo.createtime}</td>
                        <td width="20%" class="graybg">住所</td>
                        <td width="30%">${creditinfo.qiyedizhi}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>

<script src="${ctxPath}/static/modular/business/top/creditDetail.js"></script>
@}
