@layout("/common/_content1.html"){
<div class="content-w">
    <div class="creditDetail">
        <div class="company-messages-box">
            <h1>${creditinfo.qiyename}<span>${creditinfo.jingyingstatus}</span></h1>
            <p>统一社会信用代码：${creditinfo.xinyongcode}</p>

        </div>
    </div>
    <div class="company-showmessage-box">
        <div class="mt"><span>基础信息</span></div>
        <div class="fixed-table-container">
            <div class="resultTab1">
                <table>
                    <tr>
                        <td width="15%" class="graybg">法定代表人</td>
                        <td width="35%" >${creditinfo.faren}</td>
                        <td width="15%" class="graybg">企业类型</td>
                        <td width="35%" >${creditinfo.qiyetype}</td>
                    </tr>
                    <tr>
                        <td class="graybg">成立日期</td>
                        <td>${creditinfo.createtime,dateFormat="yyyy-MM-dd"}</td>
                        <td class="graybg">住所</td>
                        <td>${creditinfo.qiyedizhi}</td>
                    </tr>
                    <tr>
                        <td class="graybg">省份</td>
                        <td>${creditinfo.provice}</td>
                        <td class="graybg">城市</td>
                        <td>${creditinfo.city}</td>
                    </tr>
                    <tr>
                        <td class="graybg">注册资本</td>
                        <td>${creditinfo.zhucejiben}</td>
                        <td class="graybg">电话</td>
                        <td>${creditinfo.tel}</td>
                    </tr>
                    <tr>
                        <td class="graybg">邮箱</td>
                        <td>${creditinfo.email}</td>
                        <td class="graybg">参保人数</td>
                        <td>${creditinfo.canbaonumber}</td>
                    </tr>
                    <tr>
                        <td class="graybg">行业</td>
                        <td>${creditinfo.hangye}</td>
                        <td class="graybg">网址</td>
                        <td>${creditinfo.site}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="company-showmessage-box padding0">
        <ul class="tab-title clearfix">
            <li class="list-1 active">行政许可<span>3</span></li>
            <li class="list-2">行政处罚<span>0</span></li>
            <li class="list-3">守信激励<span>0</span></li>
            <li class="list-4">失信惩罚<span>0</span></li>
            <li class="list-5">重点关注<span>0</span></li>
            <li class="list-6">资质/资格<span>0</span></li>
            <li class="list-7">风险提示<span>0</span></li>
            <li class="list-8">其他<span>0</span></li>
        </ul>
        <div class="result-tabs">
            <div>
                <div class="fixed-table-container">
                    <div class="resultTab1">
                        <table>
                            <tr>
                                <td width="30%" class="graybg">行政许可决定书文号</td>
                                <td width="70%" >烟开国税许变更准字〔2017〕第395号</td>
                            </tr>
                            <tr>
                                <td class="graybg">许可有效期</td>
                                <td>2017-10-31</td>
                            </tr>
                            <tr>
                                <td class="graybg">许可决定日期</td>
                                <td>2017-10-31</td>
                            </tr>
                            <tr>
                                <td class="graybg">许可截止日期</td>
                                <td>2017-10-31</td>
                            </tr>
                            <tr>
                                <td class="graybg">许可内容</td>
                                <td>根据《中国人民共和国行政许可法》第三十八条第一款的规定，决定准予取得增值税专用发票（中文三联无金额限制版）十万元版</td>
                            </tr>
                            <tr>
                                <td class="graybg">许可机关</td>
                                <td>烟台经济技术开发区国家税务局纳税服务科</td>
                            </tr>
                            <tr>
                                <td class="graybg">审核类型</td>
                                <td>普通</td>
                            </tr>
                            <tr>
                                <td class="graybg">数据来源</td>
                                <td>山东省</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="nodisplay">
                <div class="nodate">很抱歉，没有找到您搜索的数据</div>
            </div>
            <div class="nodisplay">
                <div class="nodate">很抱歉，没有找到您搜索的数据</div>
            </div>
            <div class="nodisplay">
                <div class="nodate">很抱歉，没有找到您搜索的数据</div>
            </div>
            <div class="nodisplay">
                <div class="nodate">很抱歉，没有找到您搜索的数据</div>
            </div>
            <div class="nodisplay">
                <div class="nodate">很抱歉，没有找到您搜索的数据</div>
            </div>
            <div class="nodisplay">
                <div class="nodate">很抱歉，没有找到您搜索的数据</div>
            </div>
            <div class="nodisplay">
                <div class="nodate">很抱歉，没有找到您搜索的数据</div>
            </div>
        </div>
    </div>
</div>

<script src="${ctxPath}/static/modular/business/top/creditDetail.js"></script>
@}
