@layout("/common/_content1.html"){
<div class="content-w">
    <div class="sub-tag">
        <dl class="clearfix">
            <dt>信用类型：</dt>
            <dd>
                <a class="active">不限</a>
                <a>失信被执行人</a>
                <a>企业经营异常名录</a>
            </dd>
        </dl>
    </div>
    <div class="companylist">
        <ul>
        @for(item in creditinfos){
            <li>
                <h1><a href="">${item.qiyename}</a> </h1>
                <p>统一社会信用代码：${item.xinyongcode}<span></span>企业类型：${item.qiyetype}</p>
            </li>
        @}
        </ul>

    </div>
</div>
<script src="${ctxPath}/static/modular/business/top/creditList.js"></script>
@}
